MONGO_URI=mongodb://localhost:27017
PORT=8080
REDIS_URI=redis://localhost:6379/0
ZONE=local

ADMIN_USERNAME=
ADMIN_PASSWORD=

PAIRWISE_SALT=$(openssl rand -base64 32)
SYSTEM_CLIENT_ID=88dbd8da-a052-4680-8731-c3401483937f
SYSTEM_CLIENT_SECRET=asDONXL7xP4qGv1PT1b69RgRrySDaLO-XHR70Gc4opA=
SYSTEM_REDIRECT_URI=http://localhost:3000/callback
SYSTEM_CLIENT_NAME=Go_Client